{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "spaceBeforeFunctionParen": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
